body {
	/*min-height: 2000px;*/
	padding-top: 80px;
	background-color: #00eaff;
}

/* Navbar-top-fixed */

.container .jumbotron {
	border-radius: 0;
}

.navbar-default .navbar-nav>li>a {
	color: #000;
	padding-top: 20px;
}

.navbar-brand {
	margin-bottom: 15px;
}

/* Content */
.jumbotron {
	background-color: #ACFF00;
}

.form-group button {
	border-radius: 0;
	background-color: #47A3FF;
}

.form-group button:hover {
	background-color: #5CADFF;
}

.form-group {
	width: 300px;
}

.form-control {
	border-radius: 0;
	border: 1px solid #7ABDFF;
}

.jumbotron .col-sm-4 p {
	font-size: 15px;
}

.jumbotron .col-sm-4 p :hover {
	text-decoration: none;
}

/* The Sign Ups list*/

.list {
	background-color: #99FF66;
}
.list :hover {
	text-decoration: none;
}

/* @media */

@media (min-width: 768px)
