{% extends "base.html" %}

{% block content %}
  {% if not user.is_authenticated %}
    <div class="jumbotron">
      <div class="row">
        <div class="col-sm-8">
            <h1>The CS List</h1>
            <p class="lead"><strong>THE</strong> definitive computer science resource for K12.</p>
            <p>Want to stay up to date? Want add or update a resouce?</p>
            <p><em>You'll need to Sign Up first!</em></p>
        </div><!-- end col-sm-8 -->
        <div class="col-sm-4">
          {% include "news/signup_form_base.html" %}
          <p>See the <a href="{% url 'signup-list' %}">list</a> of resources.</p>          
        </div><!-- end col-sm-4 -->
      </div><!-- end row -->
    </div><!-- end jumbotron -->
    {% else %}
      <div class="row">
        <div class="col-sm-4">
          {% include "news/signup_form_base.html" %}
          <p>See the <a href="{% url 'signup-list' %}">list</a> of resources.</p>
        </div><!-- end col-sm-4 -->
      </div><!-- end row -->
  {% endif %}
  <div class="row">
    {% include "cslist/cslist.html" %}
  </div>
{% endblock %}