{% extends 'base.html' %}

{% block content %}
	<form action="" method="post">
		{% csrf_token %}
		<p>Are you sure you want to delete {{ object }}</p>
		<button class="btn button-primary" type="submit">Yes</button>
		<a href="{% url 'signup-list' %}" class="btn button-primary" style="background-color: buttonface; color: #333;">No</a>
	</form>
{% endblock %}

{% block navbar_right %}
	{% include "news/signup_dropdown.html" %}
{% endblock%}