{% load bootstrap3 %} <!-- Load the tag library -->

<form class="form-group" action="" method="post">
	{% csrf_token %}								
	{% bootstrap_form form %} 				
	<button type="submit" class="btn button-default">Submit</button>
</form>	