
{% if request.user.is_authenticated %}
<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user }} <span class="caret"></span></a>
	<ul class="dropdown-menu">
		<li><a href="{% url 'signup-list' %}">List</a></li> 	
		<li><a href="{% url 'signup-add' %}">Add</a></li>	
		<li><a href="/admin/logout/">Log out</a></li>
	</ul>
</li>
{% else %}

<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Options <span class="caret"></span></a>
	<ul class="dropdown-menu">
		<li><a href="/admin">Admin Site</a></li>
		<li><a href="{% url 'signup-list' %}">List</a></li> 	
		<li><a href="{% url 'signup-add' %}">Add</a></li>	
	</ul>
</li>
{% endif %}